#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}#{script src:'soundmanager2.js'/}
<script>
var track;
function createSound(url){
	soundManager.createSound({
		  id:url,
		  url: url,
		  autoLoad: true,
		  autoPlay: false,
		  onload: function() {

		  },
		  volume: 50
		});
	soundManager.play(url,{
		onfinish: function(){
			next();	
		}
	});
}

function next(){
	$.getJSON("/application/nextTrack",
    	    function(data){
					if(track){
						soundManager.stop(track);
					}
        			createSound(data.location);
        			track = data.location;
        			$('#title').html(data.title + ' - ' + data.creator);
        			$('#album').html(data.album);        			
        	});
}

soundManager.setup({
	  url: '/public/test/',
	  flashVersion: 9, // optional: shiny features (default = 8)
	  useFlashBlock: false, 
	  onready: function() {
		  next();
	  }
	});
$(document).ready(function(){
	
	$('#audioPlayer').bind('ended',function(){
			next();
	});
	
	$('#love').click(function(){
		$.getJSON("/application/love",
	    	    function(data){	
	        			console.log(data);        			
	        	});
	});
	//next();
});
</script>

#{/set}
<!--  tagform -->
<h5>you're listening to ${user.playlist?.title}</h5>
<div>
	<form action="/tag">
		<input type="text" name="tag">
		<input type="submit" value="Search tag radio"> 
	</form>
</div>
<hr>

<h3 id="title"></h3>
<h4 id="album"></h4>
<div>
	<input type="button" value="love" id="love">
<!-- 	<audio id="audioPlayer" autoplay autobuffer controls> -->
<!-- 		<p>no browser support :(</p> -->
<!-- 	</audio> -->
	<input type="button" value="next" onclick="next()">
</div>