#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
<script>
function next(){
	$.getJSON("/application/nextTrack",
    	    function(data){	
        			$('#audioPlayer').attr('src',data.location);
        			$('#title').html(data.title + ' - ' + data.creator);
        			$('#album').html(data.album);        			
        	});
}
$(document).ready(function(){
	
	$('#audioPlayer').bind('ended',function(){
			next();
	});
	
	$('#love').click(function(){
		$.getJSON("/application/love",
	    	    function(data){	
	        			console.log(data);        			
	        	});
	});
	next();
});
</script>

#{/set}
<h3 id="title"></h3>
<h4 id="album"></h4>
<div>
	<input type="button" value="love" id="love">
	<audio id="audioPlayer" autoplay autobuffer controls>
		<p>no browser support :(</p>
	</audio>
	<input type="button" value="next" onclick="next()">
</div>

<script>
$('input').each(function(){
	var h = $('audio').height();
	$(this).css({'margin-top':'0px','margin-bottom':'0px'}).width(h + 15).height(h);
});
</script>