#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
<script>
function next(){
	$.getJSON("/application/nextTrack",
    	    function(data){	
        			$('#audioPlayer').attr('src',data.location);
        			$('#title').html(data.title + ' - ' + data.creator);
        			$('#album').html(data.album);
        			$('#image').attr('src',data.image);        			
        	});
}
$(document).ready(function(){
	$('#audioPlayer').bind('ended',function(){
			next();
	});
	next();
});
</script>

#{/set}
<h3 id="title"><h3>
<h4 id="album"><h4>
<img src="" alt='image'>
<input type="button" value="next" onclick="next()">

<audio id="audioPlayer" autoplay autobuffer controls />